/Node-App/.idea
/Node-App/node_modules
/Node-App/package-lock.json
/Miner-App/.idea
/Miner-App/node_modules
/Miner-App/package-lock.json
/Wallet-App-HD/.idea
/Faucet-App/.idea
/Faucet-App/node_modules
/Faucet-App/package-lock.json
/Block-Explorer/.idea
/Block-Explorer/node_modules
/Block-Explorer/package-lock.json
